ion-toolbar {
  --border-color: #49b742;
  --min-height: 60px;
  margin-bottom: 20px;
}
ion-list {
  margin: 25px 0;
}
ion-label {
  margin: 20px;
}
ion-row {
  display: block;
  align-content: space-between;
}
